#container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 800px;
    height: 800px;


}

.cell {
    border: 1px solid black;
    padding: 2px;
    width: auto;
    height: auto;
}
